h1 {
	width: 100%;
    text-align: center;
	font-size: 3em;
}
h2 {
	float: left;
    width: 100%;
}
b {
    width: 40%;
	margin: 1em;
	float: left;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transition: 0.1s;
	transition-timing-function: easy-out;
	transform-origin: bottom;
	z-index: 1;
	background-color: #fff;
}
b:hover {
	transition: 0.4s;
	transform: scale(2);
	z-index: 999;
}
b>a {
	display:none;
}
b:hover>a {
	display:block;
    position: fixed;
    top: 30%;
    right: 10%;
    border-radius: 5px;
	background-color: #fff;
    padding: 5px;
	-webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
	box-shadow: 0 1px 4px rgb(0 0 0 / 25%), 0 4px 10px rgb(0 0 0 / 22%);
}
img {
	width: 90%;
}

.textcols {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
.textcols-item {
    flex: 1;
    min-width: 20em;
    height: 30%;
	padding: 20px;
	border-left: 1px solid #ccc;
}
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
